absl-py
aiohttp
aiosignal
altair
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse
async-timeout
attrs
backcall
beautifulsoup4
bleach
blinker
brotlipy
cached-property
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
commonmark
contextlib2
cryptography
cycler
debugpy
decorator
defusedxml
efficientnet
entrypoints
executing
fastjsonschema
flatbuffers
flwr
fonttools
frozenlist
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
imageio
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
iterators
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
multidict
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
numpy
oauthlib
opt-einsum
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
pip
plotly
progressbar2
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydeck
Pygments
PyJWT
Pympler
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
python-utils
pytz
pytz-deprecation-shim
pyu2f
PyWavelets
pyzmq
requests
requests-oauthlib
rich
rsa
scikit-image
scikit-learn
scipy
seaborn
semver
Send2Trash
setuptools
six
smmap
soupsieve
stack-data
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorlayer
termcolor
terminado
threadpoolctl
tifffile
tinycss2
toml
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
Werkzeug
wheel
widgetsnbextension
wrapt
yarl
zipp
